body {
    font-family: "Montserrat", sans-serif;
    background-color: #003161;
    color: #FFEB00;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #344CB7;
    background-image: linear-gradient(to left, #003161, #344CB7);

}

.perfil {
    display: inline;
    text-align: center;
    align-items: center;
    padding: 25px;  
    font-size: 10px;
    margin-left: 125px;
}

.foto-perfil {
    height: 52px;
    width: 52px;
    border-radius: 50px;
}

.links {
    display: flex;
    margin-right: 125px;
    font-size: 25px;
    align-items: center;
    color: #FFEB00;
}

.link,
.about {
    padding: 25px;
    text-decoration: none;
    color: #FFEB00;
}


.titulo {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.texto-front-end {
    display: flex;
    justify-content: space-evenly;
    padding: auto;
    text-align: center;
    margin: 50px;
}

.projetos {
    justify-content: center;
}

.lista {
    background-color: #577BC1;
    background-image: linear-gradient(to right, #577BC1, #003161);
    padding-right: 50px;
    margin: 0 125px 0 125px;
    display: flex;
    align-items: center;
    text-align: center;
}

.lista-img {
    padding-right: 50px;
    width: 504px;
    height: 298px;
    display: block;
    margin: 0 auto;
}

.gerador {
    background-color: #006A67;
    background-image: linear-gradient(to left, #577BC1, #003161);

    padding-right: 0;
    padding-left: 50px;
    margin: 0 125px 0 125px;
    display: flex;
    align-items: center;
    text-align: center;
}

.gerador-img {
    padding-left: 50px;
    width: 504px;
    height: 298px;
    display: block;
    margin: 0 auto;
}

.hypercars {
    background-color: #006A67;
    background-image: linear-gradient(to right, #577BC1, #003161);
    padding-right: 50px;
    margin: 0 125px 0 125px;
    display: flex;
    align-items: center;
    text-align: center;
}

.hypercars-img {
    padding-right: 50px;
    width: 504px;
    height: 298px;
    display: block;
    margin: 0 auto;
}

.calculadora-de-combustivel {
    background-color: #006A67;
    background-image: linear-gradient(to left, #577BC1, #003161);
    padding-right: 0;
    margin: 0 125px 0 125px;
    display: flex;
    align-items: center;
    text-align: center;
}

.calculadora-combustivel {
    padding-right: 0;
    padding-left: 50px;
    width: 504px;
    height: 298px;
    display: block;
    margin: 0 auto;
}

.sobre {
    display: flex;
    margin: 75px 80px;

    align-items: center;
    justify-content: space-between;
    padding: 75px;
    text-align: center;
    border: 2px solid #FFEB00;
    border-radius: 16px;
}

.sobre-mim {
    text-align: center;
    padding: 0 60px 0 0;
 }

 #contatos {
     display: flex; 
     justify-content: center;
 }

.logo-linkedin {
    width: 60px;
    height: 50px;
    padding: 1px;
}

.logo-github {
    width: 50px;
    height: 50px;
    padding: 1px;
    margin-left: 20px;
}

.projetos {
    margin: 10px;
    font-size: 20px;
    font-size: 15px;
}

.btn {
    font-family: "Montserrat", sans-serif;
    border-radius: 6px;
    color: #FFEB00;
    background-color: #003161;
}


.footer {
    display: flex;
    justify-content: center;
}

.link-footer {
    text-decoration: none;
    color: #FFEB00;
}